<html>
    <head>

    </head>

    <body>
        <h2>Data Layout</h2>
        <br />

        <p>The ' /data ' URL give you access to get and set data on the sensor-level.</p>
        <p>A brief breakdown of each layout is as follows:</p>
        <h3> Getting Data </h3>
        <p>To get data from the API service, simply call a GET request to the respective URL for the sensor you're looking for.</p>
        <code>GET " eel5632.tylersmith.us/data/YOUR_SENSOR_ID_HERE "</code>
        <p>This can be done by simply entering the above URL in a browser window. This should
            return a JSON object with relevant sensor information, if the sensor exists.
            Otherwise, it will return a blank JSON object.
        </p>

        <h3> Setting Data </h3>
    </body>
</html>