<html>
    <head>
        
    </head>

    <body>
        <h2>Parking Spot View</h2>
        <br />

        <p>Below is the provided spot info.
        </p>
        <ul>
        {% for key, value in spot.items() %}
                <li>{{key}}: {{value}}</li>
        {% endfor %}
        </ul>
      

        <script>   
            function refresh(){
                window.location.reload();
            }     
            document.addEventListener("DOMContentLoaded", function(event){
                setInterval(refresh, 20000);
            });
        </script>
    </body>
</html>