<html>
    <head>
        
    </head>

    <body>
        <h2>Parking Spots View</h2>
        <br />

        <p>Below is a list (with hyperlinks) of all of the parking spots currently in the
            Real-Time Database.
        </p>

        <ul>
              {% for key, value in spots.items() %}
                <li><a href="/data/spot/view/{{key}}">{{key}}</a></li>
              {% endfor %}
        </ul>

        <script>   
            function refresh(){
                window.location.reload();
            }     
            document.addEventListener("DOMContentLoaded", function(event){
                setInterval(refresh, 20000);
            });
        </script>
    </body>
</html>